<section class="product_container">
    <div class="product-image_container">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div class="product-description_container">
        <h2 class="product_name">{{ produto?.descricao }}</h2>
        <h3 class="product_price">{{ produto?.preco | currency: "BRL" }}</h3>
        <p>Estoque disponível</p>
        <label>
            Quantidade:
            <input type="number" [(ngModel)]="quantidade" min="1">
            unidade(s)
        </label>
        <p class="product_avaiability">
            {{ produto?.quantidadeEstoque }} unidade(s) em estoque
        </p>
        <button (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </div>
</section>
